<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="">Post portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/posts">Posts</a>
              </li>
              <li class="nav-item" *ngIf="role.authority === 'ROLE_ADMIN' || role.authority ==='ROLE_USER'">
                <a class="nav-link" [routerLink]="['/add-edit']">Add Post <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <div class="row">
            <div class="card" style="width: 18rem; margin-top: 3%;" >
                    <img class="card-img-top img-thumbnail"  src="https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-text">{{pageOwner.name}}</h4>
                      <h4 class="card-text">Username: {{pageOwner.username}}</h4>
                    </div>
                  </div>
                  <div class="col-md"></div>
                  <div class="col-md-6" *ngIf="display == true">
                    <form name="userForm"   #f="ngForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name"  required [(ngModel)]="newUser.name" name="name" aria-describedby="emailHelp" placeholder="Enter name">
                          </div>
                            <div class="form-group" [hidden]="!createMode">
                              <label for="username">Username</label>
                              <input type="text" (focus)="onFocus()"  class="form-control" id="usernameU" required [(ngModel)]="newUser.username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                            </div>
                            <div class="form-group" [hidden]="!createMode">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password" required [(ngModel)]="newUser.password" name="password" placeholder="Create password">
                            </div>
                            <div class="form-group" *ngIf="editMode == true && logged.username === pageOwner.username">
                              <label for="password">Old Password</label>
                              <input type="password" class="form-control" id="password" required [(ngModel)]="passwordChanger.oldPassword" name="password" placeholder="Create password">
                            </div>
                            <div class="form-group" *ngIf="editMode == true && logged.username === pageOwner.username">
                              <label for="password">New Password</label>
                              <input type="password" class="form-control" id="password" required [(ngModel)]="passwordChanger.newPassword" name="password" placeholder="Create password">
                            </div>
                            <div class="form-check" *ngIf="role.authority === adminRole">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="adminSelected" [(ngModel)]="adminSelected">
                              <label class="form-check-label" for="defaultCheck1">
                                Admin
                              </label>
                            </div>
                            <div class="form-group">
                                <label for="photo">Input your photo</label>
                                <input type="file" class="form-control-file" id="photo" type="file" name="photo" multiple="multiple"> 
                              </div>
                              <p class="alert alert-danger" role="alert" *ngIf="showMessage==true">Username already exist!</p>
                              <p class="alert alert-success" role="alert" *ngIf="success==true">Success!</p>
                            <button type="submit"   (click)="save()" class="btn btn-success" [disabled]="!f.valid">Submit</button>
                            <button type="submit" (click)="cancel()" class="btn btn-danger" style="margin-left: 5px;">Cancel</button>
                          </form>
            </div>
    </div>
    <div class="row">
      <div class="col-md" style="margin: 4%;">
        <button type="submit"   (click)="openAdd()" class="btn btn-success" *ngIf="role.authority === adminRole">Add</button>
        <button type="submit" (click)="openEdit()" class="btn btn-warning" *ngIf="logged.username === pageOwner.username || role.authority === adminRole" style="margin-left: 5px;">Edit</button>
        <button type="submit"  class="btn btn-danger" (click)="deleteUser()" *ngIf="role.authority === adminRole && logged.username != pageOwner.username" style="margin-left: 5px;">Delete</button>
      </div>
      
    </div>
</div>
