<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Post portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
      <div class="col-md"></div>
      <div class="col-md-6">
              <form name="userForm"   #f="ngForm">
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name"  required [(ngModel)]="newUser.nameU" name="name" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" (focus)="onFocus()"  class="form-control" id="usernameU" required [(ngModel)]="newUser.username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" required [(ngModel)]="newUser.passwordU" name="password" placeholder="Create password">
                      </div>
                      <div class="form-group">
                          <label for="photo">Input your photo</label>
                          <input type="file" class="form-control-file" id="photo"[(ngModel)]="newUser.photoU" name="photo">
                        </div>
                        <p class="alert alert-danger" role="alert" *ngIf="showMessage==true">Username already exist!</p>
                        <p class="alert alert-success" role="alert" *ngIf="success==true">Registered successiful.You can log in now.</p>
                      <button type="submit"   (click)="createUser()" class="btn btn-success" [disabled]="!f.valid">Submit</button>
                      <button type="submit" (click)="cancel()" class="btn btn-danger" style="margin-left: 5px;">Cancel</button>
                    </form>
      </div>
      <div class="col-md"></div>
  </div>